MerlionHotelSystem/MerlionHotelSystemJavaSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="InvalidPasswordException">
<part name="fault" element="tns:InvalidPasswordException"/>
</message>
<message name="searchAvailableRoomsForPartner">
<part name="parameters" element="tns:searchAvailableRoomsForPartner"/>
</message>
<message name="searchAvailableRoomsForPartnerResponse">
<part name="parameters" element="tns:searchAvailableRoomsForPartnerResponse"/>
</message>
<message name="InvalidDateException">
<part name="fault" element="tns:InvalidDateException"/>
</message>
<portType name="PartnerWebService">
<operation name="login">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/login/Fault/PartnerNotFoundException"/>
<fault message="tns:InvalidPasswordException" name="InvalidPasswordException" wsam:Action="http://ws.session.ejb/PartnerWebService/login/Fault/InvalidPasswordException"/>
</operation>
<operation name="searchAvailableRoomsForPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomsForPartnerRequest" message="tns:searchAvailableRoomsForPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomsForPartnerResponse" message="tns:searchAvailableRoomsForPartnerResponse"/>
<fault message="tns:InvalidDateException" name="InvalidDateException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomsForPartner/Fault/InvalidDateException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidPasswordException">
<soap:fault name="InvalidPasswordException" use="literal"/>
</fault>
</operation>
<operation name="searchAvailableRoomsForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidDateException">
<soap:fault name="InvalidDateException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>