MerlionHotelSystem/MerlionHotelSystemJavaSeClient/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findReservation">
<part name="parameters" element="tns:findReservation"/>
</message>
<message name="findReservationResponse">
<part name="parameters" element="tns:findReservationResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="getAllReservationsForPartner">
<part name="parameters" element="tns:getAllReservationsForPartner"/>
</message>
<message name="getAllReservationsForPartnerResponse">
<part name="parameters" element="tns:getAllReservationsForPartnerResponse"/>
</message>
<message name="createReservationForOnline">
<part name="parameters" element="tns:createReservationForOnline"/>
</message>
<message name="createReservationForOnlineResponse">
<part name="parameters" element="tns:createReservationForOnlineResponse"/>
</message>
<message name="calculateTotalCostForOnlineReservation">
<part name="parameters" element="tns:calculateTotalCostForOnlineReservation"/>
</message>
<message name="calculateTotalCostForOnlineReservationResponse">
<part name="parameters" element="tns:calculateTotalCostForOnlineReservationResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="findReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/findReservationRequest" message="tns:findReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/findReservationResponse" message="tns:findReservationResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/findReservation/Fault/ReservationNotFoundException"/>
</operation>
<operation name="getAllReservationsForPartner">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getAllReservationsForPartnerRequest" message="tns:getAllReservationsForPartner"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getAllReservationsForPartnerResponse" message="tns:getAllReservationsForPartnerResponse"/>
</operation>
<operation name="createReservationForOnline">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createReservationForOnlineRequest" message="tns:createReservationForOnline"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createReservationForOnlineResponse" message="tns:createReservationForOnlineResponse"/>
</operation>
<operation name="calculateTotalCostForOnlineReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/calculateTotalCostForOnlineReservationRequest" message="tns:calculateTotalCostForOnlineReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/calculateTotalCostForOnlineReservationResponse" message="tns:calculateTotalCostForOnlineReservationResponse"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAllReservationsForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservationForOnline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateTotalCostForOnlineReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>