MerlionHotelSystem/MerlionHotelSystemJavaSeClient/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>

<xs:element name="calculateTotalCostForOnlineReservation" type="tns:calculateTotalCostForOnlineReservation"/>

<xs:element name="calculateTotalCostForOnlineReservationResponse" type="tns:calculateTotalCostForOnlineReservationResponse"/>

<xs:element name="createReservationForOnline" type="tns:createReservationForOnline"/>

<xs:element name="createReservationForOnlineResponse" type="tns:createReservationForOnlineResponse"/>

<xs:element name="findReservation" type="tns:findReservation"/>

<xs:element name="findReservationResponse" type="tns:findReservationResponse"/>

<xs:element name="getAllReservationsForPartner" type="tns:getAllReservationsForPartner"/>

<xs:element name="getAllReservationsForPartnerResponse" type="tns:getAllReservationsForPartnerResponse"/>

<xs:complexType name="findReservation">
<xs:sequence>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="isAllocated" type="xs:boolean"/>
<xs:element name="rates" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationRooms" type="tns:reservationRoom" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservationType" type="tns:reservationType" minOccurs="0"/>
<xs:element name="totalCost" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isDisabled" type="xs:boolean"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rateId" type="xs:long" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rateType" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nextRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="roomRate" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationRoom">
<xs:sequence>
<xs:element name="exceptionReports" type="tns:exceptionReport" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="numberOfNights" type="xs:int"/>
<xs:element name="reservationRoomId" type="xs:long" minOccurs="0"/>
<xs:element name="room" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exceptionReport">
<xs:sequence>
<xs:element name="exceptionType" type="xs:string" minOccurs="0"/>
<xs:element name="isResolved" type="xs:boolean" minOccurs="0"/>
<xs:element name="reportDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reportId" type="xs:long" minOccurs="0"/>
<xs:element name="resolvedDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="floorNumber" type="xs:int" minOccurs="0"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomStatus" type="xs:boolean"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="sequenceNumber" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalCostForOnlineReservation">
<xs:sequence>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalCostForOnlineReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllReservationsForPartner">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllReservationsForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationForOnline">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationForOnlineResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="rateType">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="reservationType">
<xs:restriction base="xs:string">
<xs:enumeration value="WALK_IN"/>
<xs:enumeration value="ONLINE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>